<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to the Quiz App </h1>
    <p class="col-md-8 fs-4">This quiz will contain 9 questions, Each Question </p>
    <h4>Rules:</h4>
    <ol >
        <li >Correct Answer gives you 10 marks</li>
        <li>Correct Answer gives you 10 marks</li>
        <li>Correct Answer gives you 10 marks</li>
        <li>Correct Answer gives you 10 marks</li>
        <li>Refershing the project will reset the Quiz</li>

    </ol>
    <h1 style="font-family: cursive;text-align: center;">All the Best</h1>
    <div class="name col-md-4 my-3">
        <label for="">Enter Your Name:</label>
        <input #name type="text" class="form-control">
    </div>
<button class="btn btn.primary btn-lg" routerLink="/question" (click)="login()">Start the Quiz</button>
</div>